<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Dating App</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li *ngIf="accountService.currentUser$|async" class="nav-item ">
                    <a class="nav-link" href="#">Matches</a>
                </li>
                <li *ngIf="accountService.currentUser$|async" class="nav-item">
                    <a class="nav-link" href="#">Lists</a>
                </li>
                <li *ngIf="accountService.currentUser$|async" class="nav-item">
                    <a class="nav-link" href="#">Messagers</a>
                </li>
                <li *ngIf="accountService.currentUser$|async" class="nav-item">
                    <a class="nav-link" href="#" (click)="logout()">Logout</a>
                </li>
            </ul>
            <div class="dropdown open" dropdown *ngIf="accountService.currentUser$|async">
                <button class="btn btn-secondary dropdown-toggle" dropdownToggle type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome User
                        </button>
                <div class="dropdown-menu" *dropdownMenu aria-labelledby="triggerId">
                    <button class="dropdown-item" href="#">Edit Profile</button>
                    <div class="dropdowndivider"></div>
                    <button class="dropdown-item disabled" href="#" (click)="logout()">Logout</button>
                </div>
            </div>

            <form *ngIf="(accountService.currentUser$|async)===null" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
                <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
            </form>
        </div>
    </div>
</nav>